.aws-sam
Users/src/.env
Cart/src/.env
Services/src/.env
Barber/src/.env
Coupons/src/.env
Bookings/src/.env

# sam build -t <path to cloudformationfile.yaml>
# sam package --output-template-file packaged.yaml --s3-bucket <create an s3 bucket where your code will be uploaded and put the name here>
# sam deploy --template-file packaged.yaml --region <region> --capabilities CAPABILITY_IAM --stack-name <put a stack name>
